BODY {
	
}
A.menu:link {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: none
}
A.menu:visited {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: none
}
A.menu:hover {
	FONT-SIZE: 12px; COLOR: #0000ff; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: underline
}
A.link:link {
	FONT-SIZE: 12px; COLOR: #000099; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: none
}
A.link:visited {
	FONT-SIZE: 12px; COLOR: #000099; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: none
}
A.buttonlink {
	PADDING-RIGHT: 5em; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: none
}
A.buttonlink:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; BACKGROUND-COLOR: #a2bbfa; TEXT-DECORATION: none
}
A.link:hover {
	FONT-SIZE: 12px; COLOR: #842400; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: underline
}
A.slink:link {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: none
}
A.slink:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: none
}
A.slink:hover {
	FONT-SIZE: 12px; COLOR: #990000; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: underline
}
TD {
	MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; COLOR: #990000; FONT-FAMILY: Verdana, Tahoma, ms sans serif
}
TD.v {
	MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; COLOR: #e97716; FONT-FAMILY: Verdana, Tahoma, ms sans serif
}
TABLE.vborder {
	BORDER-LEFT-COLOR: #ff6300; BORDER-BOTTOM-COLOR: #ff6300; BORDER-TOP-COLOR: #ff6300; BORDER-RIGHT-COLOR: #ff6300
}
A.menuItem {
	PADDING-RIGHT: 1em; DISPLAY: block; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #990000; PADDING-TOP: 5px; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.menuItem:hover {
	COLOR: #0000ff; BACKGROUND-COLOR: #bbbbbc; TEXT-DECORATION: none
}
A.menuItemHighlight {
	COLOR: #0000ff; BACKGROUND-COLOR: #cccccc
}
A.menuItem SPAN.menuItemArrow {
	MARGIN-RIGHT: -0.75em
}
A.Cart {
	FONT-SIZE: 10px; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.Cart:hover {
	COLOR: #ffffff
}
.pagetitle {
	FONT-SIZE: 13px; FONT-FAMILY: Verdana
}
.mini {
	FONT-SIZE: 10px; COLOR: #000033; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif
}
A.menuItem1 {
	PADDING-RIGHT: 1em; DISPLAY: block; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; COLOR: #990000; PADDING-TOP: 1px; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.menuItem1:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #993300; TEXT-DECORATION: none
}
A.menuItem2 {
	PADDING-RIGHT: 1em; DISPLAY: block; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; COLOR: #990000; PADDING-TOP: 1px; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
A.menuItem2:hover {
	COLOR: #2f1101; BACKGROUND-COLOR: #9f6329; TEXT-DECORATION: none
}
INPUT.standardbutton {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 1px; BACKGROUND-POSITION: left center; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #666666 1px solid; CURSOR: hand; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e7e4dc
}
INPUT {
	border: 1px solid #666666;
	PADDING-RIGHT: 1px; 	BACKGROUND-POSITION: left center; 	PADDING-LEFT: 1px; 	FONT-SIZE: 11px; 	PADDING-BOTTOM: 1px; 	COLOR: #000000; 	PADDING-TOP: 3px; 	FONT-FAMILY: Verdana; 	BACKGROUND-COLOR: #ffffff;
	width: 60px;
}
SELECT {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 1px; BACKGROUND-POSITION: left center; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #666666 1px solid; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff
}
TEXTAREA {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 1px; BACKGROUND-POSITION: left center; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #666666 1px solid; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff
}
.thead {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-BOTTOM: 0px; COLOR: #ff6600; FONT-FAMILY: Arial; align: left
}
TABLE.v {
	BORDER-RIGHT: #a2bbfa 1px solid; BORDER-TOP: #a2bbfa 1px solid; BORDER-LEFT: #a2bbfa 1px solid; BORDER-BOTTOM: #a2bbfa 1px solid
}
